body {
  font-family: -apple-system, 'Inter', sans-serif;
}

#theme_toggler {
  position: absolute;
  bottom: 5%;
  right: 5%;
  background: #0096c3;
  padding: 20px;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
}

.divblogs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(242, 242, 242);
}